#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
  position: relative;
  
  @media (max-width: 655px) {
    flex-direction: column;
  }

  .profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #fff;
    border-style: outset;
  }

  .title { 
    max-width: 350px;
    text-align: start;
    font-size: 2rem;
    font-weight: 700;


    @media (max-width: 655px) {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}