#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

  .profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #fff;
    border-style: outset;
  }

  h1 { 
    max-width: 400px;
    text-align: start;
    font-size: 2.5rem;


    @media (max-width: 768px) {
      font-size: 2rem;
      text-align: center;
    }
  }
}